body {
  color: white;
  font-size: 3ems;
  background-image: url("../images/white\ background.jpg");
  background-repeat: no-repeat,repeat; 
  background-size: 1500px 3000px;
  }
  p{
      font-family: 'Reggae One', cursive; 
    }
    h2{
      font-family: 'Reggae One', cursive; 
    }
    h1{
      font-family: 'Reggae One', cursive; 
    }
  
  #Header{
color:maroon;
font-size: 200ems;
  }

  #assignment-header{
color:maroon;
font: size 500ems;
  }
  #Project-header{
  color: maroon;
  font-size: 200ems;
  }
#tech{
  color: maroon;
  font-size: 200ems
}

  img{
      float:left;
  }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-image:url(../images/MAROOOn.jpg);
      border:5px solid white
    }
  
    li {
      float: left;
    }
    li a{
      font-family: 'Reggae One', cursive; 
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
    li a:hover {
      background-color: rgb(21, 171, 230);
    }
    #one{
      margin: 2%;
      background-color: maroon;
      width: 600px;
      border: 8px solid white;
      padding: 50px;
      height: 350px;
    }
    #two{
      margin: 2%;
      background-color:maroon;
      width: 600px;
      border: 8px solid white;
      padding: 50px;
      height: 300px;
      display: block;
      margin-left: auto;
     
    }
    #three{
      margin: 2%;
      background-color: maroon;
      width: 650px;
      border: 8px solid white;
      padding: 50px;
      height: 350px;
    }
    #four{
      margin: 2%;
      background-color:maroon;
      width: 500px;
      border: 8px solid white;
      padding: 50px;
      height: 250px;
      display: block;
      margin-left: auto;
    }
    #IJ{
      margin: 20%;
      background-color: maroon;
      width: 600px;
      border: 10px solid white;
      padding: 50px;
      margin: 20px;
      height: 200px;
      margin:auto
    }
    #center-peice{
      margin: 20%;
      background-color: maroon;
      width: 600px;
      border: 10px solid white;
      padding: 50px;
      margin: 20px;
      height: 150px;
      margin:auto;
      text-align:center;


    }
    #bottom-center{
      margin: 20%;
      background-color: maroon;
      width: 600px;
      border: 10px solid white;
      padding: 50px;
      margin: 20px;
      height: 200px;
      margin:auto
    }
    #Video{
      margin: 20%;
      width: 1000px;
      border: 10px solid maroon;
      background-image: url("../images/galaxy.jpg");
      padding: 50px;
      margin: 20px;
      height: 500px;
      margin:auto
    }
    .button {
      background-color: white; 
      border: none;
      color: maroon;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 4px;
      cursor: pointer;
      border-radius: 30px; 
    }
    #center-peice .button{
      margin:auto;
    }
   #Questions{
    margin: 20%;
    background-color: maroon;
    width: 700px;
    border: 10px solid white;
    padding: 50px;
    margin: 20px;
    height: 650px;
    margin:auto;
   }
   
   .question-1{
    background-color: white; 
    border: none;
    color: maroon;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 30px; 
   }
   .question-2{
    background-color: white; 
    border: none;
    color: maroon;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 30px; 
   }
   .question-3{
    background-color: white; 
    border: none;
    color: maroon;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 30px;
   }
   .question-4{
    background-color: white; 
    border: none;
    color: maroon;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 30px
   }
   .home-footer{
    background-image:url("../images/maroon-lattice-background-vector.jpg");
    text-align: center;
    padding: 10px;
   }
   .aboutme-footer{
    background-image:url("../images/maroon-lattice-background-vector.jpg");
    text-align: center;
    padding: 10px;
   }
   
   #as1{
     color:maroon;
    border: 15px solid transparent;
    padding: 15px;
    border-image: url(../images/galaxy.jpg) 20% round;
    width:300px;
    text-align:center;
    margin:auto
   }
   #as2{
    color:maroon;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../images/galaxy.jpg) 20% round;
    width:500px;
    text-align:center;
    margin:auto
   }
 
   img {
    border-radius: 70%;
  }
